<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">

    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <button class="btn btn-primary btn" ng-click="newPost()">New Post</button>
            </widget-cell>
            <widget-cell>
                <button class="btn btn-primary btn" ng-click="findInfo()">Find</button>
            </widget-cell>
        </widget-row>
    </div>

</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="menuButtonClick()">
            Logout
        </a>
    </li>
</script>


<!-- VIEW FOR NEW POST -->
<script type="text/ng-template" id="newPost.html">
    <widget-row>
        <widget-cell>
            <form name="postNewRide">
                <h2>Post New Ride</h2>
                <h3>Departure</h3>
                <p>City</p>
                <select ng-model="DepartureCity">
                   <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>

                <p>Pick-up Address</p>
                <input type="text" name="address" ng-model="DepartureAddress" />
                <p>Date</p>
                <input type="date" name="date" ng-model="DepartureDate" />
                <h3>Destination</h3>
                <p>City</p>
                <select ng-model="DestinationCity">
                   <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>
                <p>Drop-off</p>
                <input type="text" name="dropoff" ng-model="DestinationDropoff" />
                <h3>Details</h3>
                <p>Seats Available</p>
                <select ng-model="RideSeatsCapacity">
                   <option ng-repeat="s in [1, 2, 3, 4, 5, 6]" value="{{s}}">{{s}}</option>
                </select>
                <p>Notes</p>
                <textarea name="notes" ng-model="RideNotes">
                    Enter notes here.
                </textarea>
                <input type="submit" value="Submit" />
            </form>
        </widget-cell>
    </widget-row>
</script>

<!-- VIEW FOR FIND  -->
<script type="text/ng-template" id="findInfo.html">
    <widget-row>
        <widget-cell>
            <form>
                        <div class="input-group" style="width: 100%;">
                            Departure City:<br/>
                            <input type="text" class="form-control" ng-model="ride.DepartureCity" />
                            Arrival City:<br/>
                            <input type="text" class="form-control" ng-model="ride.ArrivalCity" />
                            <button ng-click="findResults()" class="btn btn-primary btn">Search</button>
                        </div>
                            
                    </form>
        </widget-cell>
    </widget-row>
</script>

<!-- VIEW FOR FIND  -->
<script type="text/ng-template" id="findResults.html">
    <widget-row>
        <widget-cell>
            <h2>Available Rides!</h2>
            <widget-row ng-repeat="item in searchData.value">
                	<widget-cell>
                    	<div class="pDetails" id="{{item.RideID}}">
                            {{item.DepartureCity}} to {{item.DestinationCity}}<br/>
                        	{{item.DepartureAddress}} to {{item.DestinationDropoff}}<br/>
                            {{item.RideSeatsTaken}}/{{item.RideSeatsCapacity}} seats available
                            <div ng-show="{{item.RideSeatsTaken}} != {{item.RideSeatsCapacity}}">
                                <button class="btn btn-primary btn" ng-click="bookRide(item.RideID, item.RideSeatsTaken)">Book Now!</button>
                            </div>
                        </div>
               		</widget-cell>
            </widget-row>
        </widget-cell>
    </widget-row>
</script>