<script type="text/ng-template" id="loading.html">
    <widget-row>
        <widget-cell>
            <div class="pDetails">
                Loading..
            </div>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="main.html">

    <div class="collapseMe">
        <widget-row>
            <widget-cell>
                <button ng-click="newPost()">New Post</button>
            </widget-cell>
            <widget-cell>
                <button ng-click="findInfo()">Find</button>
            </widget-cell>
        </widget-row>
    </div>
    
    RIDES YOU'RE GIVING
    <div>
        <widget-row ng-if="dbData.value" ng-repeat="row in dbData.value">
            <widget-cell>
                {{ row.DepartureCity }} -> {{ row.DestinationCity }}<br/>
                {{ row.DepartureAddress }} -> {{ row.DestinationDropoff }}<br/>
                {{ row.RideSeatsCapacity - row.RideSeatsTaken }} spots remaining<br/>
                Driving: {{ row.DriverID }}
            </widget-cell>
        </widget-row>
    </div>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a ng-click="menuButtonClick()">
            Logout
        </a>
    </li>
</script>

<!-- VIEW FOR NEW POST -->
<script type="text/ng-template" id="newPost.html">
    <widget-row>
        <widget-cell>
            <form name="postNewRide" ng-submit="insertData()">
                <h2>Post New Ride</h2>
                <h3>Departure</h3>
                <p>City</p>
                <select ng-model="insertValue.DepartureCity">
                   <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>

                <p>Pick-up Address</p>
                <input type="text" name="address" ng-model="insertValue.DepartureAddress" />
                <h3>Destination</h3>
                <p>City</p>
                <select ng-model="insertValue.DestinationCity">
                   <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
                </select>
                <p>Drop-off</p>
                <input type="text" name="dropoff" ng-model="insertValue.DestinationDropoff" />
                <h3>Details</h3>
                <p>Seats Available</p>
                <select ng-model="insertValue.RideSeatsCapacity">
                   <option ng-repeat="s in [1, 2, 3]" value="{{s}}">{{s}}</option>
                </select>
                <p>Notes</p>
                <textarea name="notes" ng-model="insertValue.RideNotes">
                    Enter notes here.
                </textarea>
                <input type="submit" value="Submit" />
            </form>
        </widget-cell>
    </widget-row>
</script>

<!-- VIEW FOR FIND  -->
<script type="text/ng-template" id="findInfo.html">
    <widget-row>
        <widget-cell>
            <h2>Find info goes here!</h2>
            <button ng-click="findResults()">Search</button>
        </widget-cell>
    </widget-row>
</script>